/* ========================================
   Kelsey Frewin — easy-to-edit theme
   ======================================== */


/* ☀️ LIGHT THEME */
:root {

  /* Change these colours to customise your site */

  --background: #ffffff;       /* white */
  --text: #181717;             /* dark grey */
  --accent: #06d6a0;           /* green */
  --highlight: #ef476f;        /* links, highlights & hover */
  --heading: #06d6a0;           /* headings */


  /* Tell al-folio which colours to use */

  --global-bg-color: var(--background);
  --global-card-bg-color: var(--background);
  --global-code-bg-color: var(--background);
  --global-text-color: var(--text);
  --global-theme-color: var(--accent);
  --global-hover-color: var(--highlight);
}


/* 🌙 DARK THEME */
html[data-theme="dark"] {

  /* Change these colours for dark mode */

  --background: #181717;       /* dark page background */
  --text: #ffffff;             /* light text */
  --accent: #ffd166;           /* main accent */
  --highlight: #ef476f;       /* links, highlights & hover */
  --heading: #ffd166;          /* headings */


  /* Tell al-folio which colours to use */

  --global-bg-color: var(--background);
  --global-card-bg-color: var(--background);
  --global-code-bg-color: var(--background);
  --global-text-color: var(--text);
  --global-theme-color: var(--accent);
  --global-hover-color: var(--highlight);
}

